/ConsoleHelloWorld/nbproject/private/
/ConsoleHelloWorld/build/
/02consoleMultiplicationTables/nbproject/private/
/02consoleMultiplicationTables/build/
/WS05ClassesImplementation/05AntSimulator3248/nbproject/private/
/06Libraries/OOP3248FileManager/nbproject/private/
/06Libraries/OOP3248FileManager/build/
/06Libraries/OOP3248FileManager/dist/
/WS05ClassesImplementation/05AntSimulator3248/build/